/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

/* Universal */
body { margin: 0; display: flex; flex-direction: column; width: 100vw; height: 100vh; background: var(--background); flex: 0 0 auto; }
a, div { font-family: 'Open Sans', sans-serif; color: var(--foreground); }

.padding { padding: 3vw; }
.content { display: flex; flex-direction: column; }
#main { height: 100%; }
#nav-bar { margin: 0 auto 4px; text-align: center; }
.nav-button { margin: 0 2px; padding: 4px 6px; font-size: 24px; color: var(--foreground-nofocus); text-decoration: none; user-select: none; position: relative; cursor: pointer; transition: color 130ms ease-out; }
.nav-button:hover, .nav-button[current] { color: var(--foreground); }
.nav-button::after { content: ''; position: absolute; bottom: 0; left: 0; right: 0; background: currentColor; height: 0; transition: height 130ms ease-out; }
.nav-button:hover::after, .nav-button[current]::after { height: 3px; }
.nav-button[current] { cursor: default; }
#copyright { margin: auto auto 0; opacity: 0.34; }

/* Discord thing lol */
#blur { z-index: 1002; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: #000000D8; transition: background 250ms ease-out; display: flex; }
#blur[disabled] { user-select: none; pointer-events: none; background: transparent; }
.discord-modal { width: 600px; height: 480px; transition: transform 100ms ease-out; background: #18191c /* #36393f */; border-radius: 8px; margin: auto; }
.discord-modal[transition="pre"] { transform: scale(0); transition: none; }
.discord-modal[transition="post"] { transform: scale(1.05); }
.discord-modal-top { height: 200px; flex: 0 0 auto; }
.discord-modal-bottom { height: 100%; border-top: 1px solid #4f545c7a; padding: 16px 20px; }
.discord-avatar { background-image: url(./curAvatar.png); background-repeat: no-repeat; background-size: 100%; border-radius: 50%; margin: 24px; width: 120px; height: 120px; }
.discord-usertag { margin: -8px 16px; color: #FFF; font-family: Helvetica, Arial, sans-serif; font-size: 20px; font-weight: bold; }
.discord-info { font-family: Helvetica, Arial, sans-serif; font-weight: 800; color: #b9bbbe; text-transform: uppercase; font-size: 12px; margin-bottom: 8px; }
.discord-text { font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 18px; color: #dcddde; }
.discord-text a { color: #00aff4; text-decoration: none; }
.discord-text a:hover { text-decoration: underline; }

/* Home page */
#header { margin: 64px auto 0; display: inline-flex; min-height: 6vw; }
#typed-desc { font-family: monospace; font-size: 5vw; /* text-transform: uppercase; */ white-space: pre; font-weight: 600; }
#typed-desc-block { aspect-ratio: 7/15; height: 100%; box-shadow: inset 0 0 0 0.4vw #FFF; }
#social-medias { margin: 4vw auto 0; transition: transform 1.25s cubic-bezier(.25,.5,.25,1), opacity 1.25s cubic-bezier(.25,.5,.25,1); }
#social-medias[pretransition] { transition: none; transform: translateY(30vh); opacity: 0; pointer-events: none; user-select: none; }
#social-media-inf { margin: 0 auto; font-size: 28px; color: var(--foreground-nofocus); }
#social-media-grid { margin: 32px auto 0; display: grid; grid-template-columns: repeat(2, 1fr); }
.social-media { width: 264px; margin: 6px; padding: 8px; font-size: 22px; background: blue; display: flex; flex-direction: row; flex: 0 0 auto; user-select: none; cursor: pointer; text-decoration: none; border-radius: 6px; /* box-shadow: inset 0 0 0 2px #FFFFFF34; */ transition: filter 130ms ease-out; }
.social-media:hover { filter: brightness(1.2); }
.social-media:active { filter: brightness(0.9); transition: none; }
.social-media div { filter: drop-shadow(2px 2px 0 #000); }
.social-media:nth-child(2) { grid-area: 2 / 1; }
.social-media:nth-child(3) { grid-area: 3 / 1; }
.social-media:nth-child(4) { grid-area: 4 / 1; }
.social-media-icon { display: inline-block; width: 28px; height: 28px; margin: 1px 9px 1px 1px; background-size: 100%; background-repeat: no-repeat; border-radius: 6px; }
#sm_steam { background: linear-gradient(110deg, #0f2961, #325781); color: #FFF; }
#sm_discord { background: linear-gradient(110deg, #0f2561, #4c36ad); color: #FFF; }
#sm_reddit { background: linear-gradient(110deg, #914214, #dd4314); color: #FFF; }
#sm_gamejolt { background: linear-gradient(110deg, #052707, #187a00); color: #FFF; }
#sm_itchio { background: linear-gradient(110deg, #cc323f, #b8251b); color: #FFF; }
#sm_twitter { background: linear-gradient(110deg, #0051ff, #325781); color: #FFF; }
#sm_youtube { background: linear-gradient(110deg, #aa0000, #240b0b); color: #FFF; }
#sm_github { background: linear-gradient(110deg, #ffffff, #888888); color: #000; }
#sm_steam .social-media-icon { background-image: url(./icons/steam.png); }
#sm_discord .social-media-icon { background-image: url(./icons/discord.png); }
#sm_reddit .social-media-icon { background-image: url(./icons/reddit.png); }
#sm_gamejolt .social-media-icon { background-image: url(./icons/gamejolt.png); }
#sm_itchio .social-media-icon { background-image: url(./icons/itchio.png); }
#sm_twitter .social-media-icon { background-image: url(./icons/twitter.png); }
#sm_youtube .social-media-icon { background-image: url(./icons/youtube.png); }
#sm_github .social-media-icon { background-image: url(./icons/github.png); filter: drop-shadow(2px 2px 0 #FFF); }