:root
{
	--background: #EEE;
	--background-popup: #CCC;
	--background-btn: #00000020;
	--background-btn-hover: #00000034;
	--background-btn-active: #00000010;
	--foreground: #000;
	--foreground-nofocus: #444;
	--foreground-sub: #999;
}